NODE_ENV        =   development
PORT            =   8081
DATABASE        =   mongodb://<dbuser>:<dbpassword>@ds151753.mlab.com:51753/ticket-booking-app
SECRET          =   yoursecrectpleaseenterhere
KEY             =   yourkeypleaseenterhere
USERNAME                =   admin
PASSWORD                =   admin123
TOTAL_NUMBER_OF_SEATS   =   40